<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description" 
            content="{{PAGE DESCRIPTION}}" />
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0" />

        <link href="/assets/css/main.css" rel="stylesheet" />
        <link href="/assets/images/favicon.ico" rel="icon" />
        <title>{{PAGE TITLE}}</title>
    </head>
    <body>
        <header>
            <img src="" alt="" />
            <h1>{{MAIN TITLE}}</h1>
            <nav>
                <ul>
                    <!--
                        home
                        about
                        projects
                        resume
                        contact
                        > LI/Git; probably just on pages?
                        > vibecode git acct
                    -->
                </ul>
            </nav>
        </header>

        <main>
            {{PAGE CONTENT}}
            <!-- 
                for main, curr interests, tech, focus
            -->
            <!--
                Project cards link to project pages with just summary
            -->
        </main>
        <aside>
            {{ASIDE CONTENT}}
        </aside>
    </body>
</html>