<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description" 
            content="{{PAGE DESCRIPTION}}" />
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0" />

        <link href="/assets/css/main.css" rel="stylesheet" />
        <link href="/assets/images/favicon.ico" rel="icon" />
        <title>{{PAGE TITLE}}</title>
    </head>
    <body>
        {{PAGE CONTENT}}
    </body>
</html>