            <header>
                <p>
                    Looking to reach out for opportunities, projects, collaboration, or just want to chat?
                    Reach out to me at one of the sources below:
                </p>
            </header>
            <hgroup>
                <h2>
                    Contact
                </h2>
                <p>
                    <b>email: </b>
                </p>
            </hgroup>
            <hgroup>
                <h2>
                    Find me elsewhere
                </h2>
            </hgroup>
