            <header>
                <p> 
                    For opportunities, projects, or professional collaboration, 
                    you can reach me through the links below. 
                </p>
            </header>

            <ul class="contact-list">
                <!-- <a  href="#contact" 
                    class="contact-item" 
                    title="email"
                    aria-label="email">
                -->
                    
                    <!-- <b>
                        Email:
                    </b> -->
                <li>
                    <img    class="mbox contact-item" 
                            width="180" height="24" 
                            src="./assets/images/mbox.svg" 
                            type="image/svg+xml">
                </li>
                    <!-- </object> -->
                <!-- </a> -->

                <!--
                <span class="divider" aria-hidden="true"></span>
                -->

                <!-- github -->
                <li>
                    <a  href="https://github.com/fald" 
                        class="contact-item" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        title="Github"
                        aria-label="Github">

                        <img    src="/assets/images/github.svg" 
                                width="22" height="22" alt="Github icon">
                        <span>Github</span>
                    </a>
                </li>

                <!-- linkedin -->
                <li>
                    <a  href="https://linkedin.com/in/firas-aldabbas" 
                        class="contact-item" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        title="LinkedIn"
                        aria-label="LinkedIn">

                        <img    src="/assets/images/linkedin.svg" 
                            width="22" height="22" alt="LinkedIn icon">

                        <span>LinkedIn</span>
                    </a>
                </li>
            </ul>

            <!--
            <hgroup>
                <h2>
                    Find me elsewhere
                </h2>
                <ul>
                    <li>
                        Vibe git
                    </li>
                    <li>
                        other stuff
                    </li>
                    <li>
                        current interests - tech
                    </li>
                    <li>
                        current interests - alt
                    </li>
                </ul>
            </hgroup>
            -->
