            <header>
                I work across data science and artificial intelligences with particular interests in renewable energy and AGI research.
            </header>
            <hgroup>
                <h2>
                    About Me
                </h2>
                <p>
                    Computer science and Data science practitioner with experience spanning data analysis, AI evaluation, automation, and software development.
                    Currently focused on applied AI and machine learning with views to AGI research.
                </p>
            </hgroup>
            <hgroup>
                <h2>
                    Current Focus
                </h2>
                <ul>
                    <li>Applied AI (Renewable energy)</li>
                    <li>Data analysis & statistical modeling</li>
                </ul>
            </hgroup>
